*{
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;

    text-align: center;
    background-color: black;
    color: white;
}


.card{
    transition: transform 0.2s ease-in-out;
}
.card:hover{
    transform: scale(1.2);
}


.title{
    margin: 20px;
    text-decoration: underline;
}